.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: var(--color-purple);
    font-size: 1.25rem;
    font-weight: 700;
    
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;

    border: solid var(--color-white) 1px;
    border-radius: 25px;
    }
    
    
    .container div{
     display: flex;
     flex-direction: column;
     gap: 0.25rem;
    
     width: 40vw;
    
    }
    
    .container span{
        color: #FFF;
    }
    
    .container div input, 
    .container div select{
        padding: 0.25rem;
        height: 2rem;
    }
    
    .container div:nth-child(6) textarea{
        display: flex;
        height: 6rem;
        padding: 0.25rem;
        font-size: 1rem;
    }

    .container div option{
        font-size: 0.75rem;
    }
    
    .container button{
        background-color: var(--color-purple);
        color: var(--color-white);
        font-size: 1rem;
    
        width: 50%;
        height: 2.5rem;

        cursor: pointer;
    }
    
    .container div input,
    .container div select,
    .container div textarea,
    .container button{
        border-radius: 5px;
        box-shadow: none;
        border: none;
    }
    
    .container div span{
        font-size: 0.75rem;
        font-weight: bold;
        color: #960000;
    }